h1{
    color: rgb(156, 176, 99);
    font-size : 60px;
    position: relative;
    padding-left: 270px;
    font-weight: 10;
    top: -80px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap
}


body {
    margin: 0px; 
    background-image: url("вопрос 4й фон.jpg");
    height: 100%;
    width: 100%;
}
#rectangle{
    position: relative;
    top: 625px;
    left: 465px;
    width: 550px;
    height: 70px;
    border-radius: 30px;
    background: rgb(12, 37, 19);
}
a{
    color: rgb(255, 255, 255);
    font-size : 50px;
    position: absolute;
    padding-left: 55px;
    top: 3px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
}
#rectangle1{
    position: absolute;
    width: 950px;
    height: 700px;
    left: 260px;
    top: 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
}
#move{
    position: absolute;
    width: 500px;
    height: 500px;
    
}
#answer{
    color: rgb(255, 255, 255);
    font-size : 50px;
    position: absolute;
    padding-left: 70px;
    top: 145px;
    left: 300px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
}
#answer1{
    color: rgb(255, 255, 255);
    font-size : 50px;
    position: absolute;
    padding-left: 70px;
    left: 520px;
    font-weight: 10;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 300px;
}
#rectangle2{
    position: absolute;
    width: 900px;
    height: 5px;
    left: 285px;
    top: 90px;
    background: RGBA(255,255,255,0.7);
    border-radius: 20px;
}
#rectangle3{
    position: absolute;
    width: 900px;
    height: 5px;
    left: -15px;
    top: 455px;
    background: RGBA(255,255,255,0.7);
    border-radius: 20px;
}
li{
    list-style-type: "\25EF";
    list-style-position: inside;
    padding-bottom: 75px;

}
